<div class="contenedor">
  <swiper effect="fade" [autoplay]="{delay: 700}" [autoHeight]="true">
    <ng-template swiperSlide>Slide 1</ng-template>
    <ng-template swiperSlide>Slide 2</ng-template>
    <ng-template swiperSlide>
      <h2>Slide 3</h2>
      <p>Un texto aparte</p>
    </ng-template>
    <ng-template swiperSlide>Slide 4</ng-template>
    <ng-template swiperSlide>
      <h2>Slide 5</h2>
      <p>Otro slide con mucho contenido</p>
    </ng-template>
    <ng-template swiperSlide>Slide 6</ng-template>
  </swiper>
</div>